body {
    background-image: url('house4.jpg');
    background-attachment: fixed;
    background-size: cover;
}
div{
    width: 600px;
    height: 350px;
    color:  rgb(173, 193, 240);
    border: 2px solid rgb(173, 193, 240);
    border-radius: 8px;
    padding: 10px;
}
h1 {
    color:  rgb(173, 193, 240);
    font-size: 50px;

}
h2 {
    color:  rgb(173, 193, 240);
    font-size: x-large;
}
ol {
    color:  rgb(173, 193, 240);
    font-size: x-large;
}