body {
    background-image: url('house2.jpg');
    background-attachment: fixed;
    background-size: cover;
}
div{
    width: 600px;
    color:  rgb(240, 204, 173);
    border: 2px solid rgb(240, 204, 173);
    border-radius: 4px;
    padding: 10px;
}
h1 {
    color:  rgb(240, 204, 173);
    font-size: 50px;

}
h2 {
    color:  rgb(240, 204, 173);
    font-size: x-large;
}
ol {
    color:  rgb(240, 204, 173);
    font-size: x-large;
}